# 1.Listas

In [1]:
x = list()
x

[]

In [2]:
x=[1,'2','keven']
x

[1, '2', 'keven']

In [3]:
x.append("fullstack")
x

[1, '2', 'keven', 'fullstack']

## Accediendo a los valores de una lista

In [4]:
x[0]

1

In [5]:
x[-1] # ultimo

'fullstack'

In [6]:
x[-2] # penultimo

'keven'

x[index_ini:index_fin]

In [11]:
x[1:4]

['2', 'keven', 'fullstack']

In [13]:
x[:] # si no se especifica el indice se va desde el inicio o hasta el fin

[1, '2', 'keven', 'fullstack']

In [14]:
x.append(-99)

In [15]:
x.append([9,9,99])

In [16]:
x

[1, '2', 'keven', 'fullstack', -99, [9, 9, 99]]

In [17]:
x.extend([1,2,4])

In [18]:
x

[1, '2', 'keven', 'fullstack', -99, [9, 9, 99], 1, 2, 4]

Eliminar elementos

In [20]:
x[5]

[9, 9, 99]

In [21]:
del x[5]

In [22]:
x

[1, '2', 'keven', 'fullstack', -99, 1, 2, 4]

In [24]:
x.remove(1)

In [25]:
x

['2', 'keven', 'fullstack', -99, 1, 2, 4]

In [27]:
try:
    x.remove('s')
except ValueError:
    pass

Eliminar desde el final

In [29]:
a = x.pop() # se puede guardar en una variable
print(x)
print(a) # elemento eliminado

['2', 'keven', 'fullstack', -99, 1]
2

In [30]:
help(x)

Help on list object:

class list(object)
 |  list() -> new empty list
 |  list(iterable) -> new list initialized from iterable's items
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.n
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      L.__reversed__() -- return a reverse iterator over the list
 |
 |  __rmul__(self, value, /)
 |      Return self*value.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      L.__sizeof__() -- size of L in memory, in bytes
 |
 |  append(...)
 |      L.append(object) -> None -- append object to end
 |
 |  clear(...)
 |      L.clear() -> None -- remove all items from L
 |
 |  copy(...)
 |      L.copy() -> list -- a shallow copy of L
 |
 |  count(...)
 |      L.count(value) -> integer -- return number of occurrences of value
 |
 |  extend(...)
 |      L.extend(iterable) -> None -- extend list by appending elements from the iterable
 |
 |  index(...)
 |      L.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.
 |
 |  insert(...)
 |      L.insert(index, object) -- insert object before index
 |
 |  pop(...)
 |      L.pop([index]) -> item -- remove and return item at index (default last).
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(...)
 |      L.remove(value) -> None -- remove first occurrence of value.
 |      Raises ValueError if the value is not present.
 |
 |  reverse(...)
 |      L.reverse() -- reverse *IN PLACE*
 |
 |  sort(...)
 |      L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

Copiar la lista a una nueva variable

In [31]:
y = x.copy()
y

['2', 'keven', 'fullstack', -99, 1]

In [34]:
del y[0]
print(x)
print(y)

['2', 'keven', 'fullstack', -99, 1]
[-99, 1]

# 6. Tuplas

In [35]:
x=tuple()
x
# no tiene append, del

()

In [36]:
type(x)

tuple

In [39]:
x= tuple([1,2.2,"tres",4.0])
x

(1, 2.2, 'tres', 4.0)

In [41]:
x[-1]

4.0

In [43]:
x[2]="15" # las tuplas no se pueden modificar

TypeError: 'tuple' object does not support item assignment

In [44]:
x

(1, 2.2, 'tres', 4.0)

In [46]:
# si se pueden concatenar
x=x+x
x

(1,
 2.2,
 'tres',
 4.0,
 1,
 2.2,
 'tres',
 4.0,
 1,
 2.2,
 'tres',
 4.0,
 1,
 2.2,
 'tres',
 4.0)

# 3.Rangos

In [48]:
start = 1
stop = 10
step = 2
range(start,stop,step)

range(1, 10, 2)

In [49]:
for i in range(0,stop,3):
    print(i)

0
3
6
9

# 4. Diccionarios

In [51]:
x = dict()
x

{}

In [58]:
x = {'nombre' : 'keven',
    'sexo' : 1,
    'ingresos' : 1000
    }

In [59]:
x

{'ingresos': 1000, 'nombre': 'keven', 'sexo': 1}

In [61]:
x["nombre"]

'keven'

In [62]:
x["sexo"]

1

In [76]:
dicc={'A' : 0,
  'B' : 1,
  'C' : 2}

In [77]:
import pandas as pd

In [81]:
x = pd.DataFrame(['A','B','A','C','C'],columns = ['clase'])
x

  clase
0     A
1     B
2     A
3     C
4     C

In [84]:
x['clase'].map(dicc)

0    0
1    1
2    0
3    2
4    2
Name: clase, dtype: int64

In [85]:
# continuando ...

x = {'nombre' : 'keven',
    'sexo' : 1,
    'ingresos' : 1000
    }

In [87]:
x['sexo']
x.values()

dict_values(['keven', 1, 1000])

In [88]:
x.keys()

dict_keys(['nombre', 'sexo', 'ingresos'])

In [89]:
x['nombre']="ronald"
x

{'ingresos': 1000, 'nombre': 'ronald', 'sexo': 1}